name: publish

on:
  workflow_call:
    secrets:
      MODRINTH_TOKEN:
        description: 'The token to use for Modrinth authentication'
        required: true
      CURSEFORGE_TOKEN:
        description: 'The token to use for Curseforge authentication'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v5

      - name: check for publish flag
        run: |
          if head -n 1 CHANGELOG.md | grep -q '<!--publish=true-->'; then
              echo "Publish flag read: true. Starting publishing action."
          elif head -n 1 CHANGELOG.md | grep -q '<!--\s*publish\s*=\s*true\s*-->'; then
              echo "Publish flag read: true. Starting publishing action."
              echo "Publish flag included spaces, inconsistencies prevent proper changelog grouping on Modrinth. Please use '<!--publish=true-->' instead."
          elif head -n 1 CHANGELOG.md | grep -q '<!--\s*publish\s*=\s*false\s*-->'; then
              echo "Publish flag read: false. Stopping publishing action."
              exit 1
          else
            echo "Missing publish flag in line 1. Skipping publishing action and exiting with error."
            echo "Please add \`<!--publish=true-->\` or \`<!--publish=false-->\` to the first line of CHANGELOG.md."
            exit 1
          fi
        continue-on-error: false

      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'microsoft'
          java-version: 21

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build files
        run: ./gradlew build

      - name: read info
        id: properties
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: './gradle.properties'
          properties: 'archives_base_name mod_name_short mod_version minecraft_version_supported minecraft_version_name'

      - name: escape parentheses in minecraft_version_name
        run: |
          escaped_version_name=$(echo "${{ steps.properties.outputs.minecraft_version_name }}" | sed 's/(/\\(/g; s/)/\\)/g')
          echo "escaped_version_name=$escaped_version_name" >> $GITHUB_ENV

      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-featured: true
          modrinth-unfeature-mode: intersection
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          name: '${{ steps.properties.outputs.mod_name_short }} ${{ steps.properties.outputs.mod_version }} + ${{ steps.properties.outputs.minecraft_version_name }}'
          version: '${{ steps.properties.outputs.mod_version }}'

          game-versions: '${{ steps.properties.outputs.minecraft_version_supported }}'
          game-version-filter: releases

          version-type: release
          files: "build/libs/${{ steps.properties.outputs.archives_base_name }}-${{ steps.properties.outputs.mod_version }}+${{ env.escaped_version_name }}-(Fabric|Quilt|Forge|NeoForge).jar"

          changelog-file: CHANGELOG.md

          retry-attempts: 2
          retry-delay: 10000
          fail-mode: fail

      - name: update CHANGELOG_history.md and README.md
        run: |
          changelog_start_marker='<!--CHANGELOG:START-->'
          changelog_end_marker='<!--CHANGELOG:END-->'
      
          if [[ -f CHANGELOG_history.md && -s CHANGELOG_history.md ]]; then
            changelog_headline=$(sed -n '2p' CHANGELOG.md)
            history_headline=$(head -n 1 CHANGELOG_history.md)
            if [[ "$changelog_headline" == "$history_headline" ]]; then
              echo "Changelog already in history. Skipping updates to CHANGELOG_history.md and README.md."
              exit 0
            fi
          fi
      
          if [[ ! -f CHANGELOG_history.md ]]; then
            touch CHANGELOG_history.md
          fi
          if [[ $(tail -c1 CHANGELOG.md | wc -l) -eq 0 ]]; then
            echo >> CHANGELOG.md
          fi
          cat CHANGELOG.md CHANGELOG_history.md > temp && mv temp CHANGELOG_history.md
          sed -i '1d' CHANGELOG_history.md
        
          if [[ ! -f README.md || ! -s README.md ]]; then
            echo "$changelog_start_marker" > README.md
            cat CHANGELOG_history.md >> README.md
            echo "" >> README.md
            echo "$changelog_end_marker" >> README.md
          else
            start_line=$(grep -n "$changelog_start_marker" README.md | cut -d: -f1)
            end_line=$(grep -n "$changelog_end_marker" README.md | cut -d: -f1)
            if [[ -n "$start_line" && -n "$end_line" ]]; then
              if [[ "$start_line" -ge "$end_line" || "$start_line" -eq "$end_line" ]]; then
                echo "The CHANGELOG:START/END markers are in incorrect order and/or in the same line in README.md"
                exit 1
              fi
              sed -i "$((start_line+1)),$((end_line-1))d" README.md
              sed -i "$((start_line))r CHANGELOG_history.md" README.md
            elif [[ -z "$start_line" && -z "$end_line" ]]; then
              echo "No CHANGELOG:START/END markers found in README.md. Appending changelog history with start and end markers at the bottom of the file."
              echo "$changelog_start_marker" >> README.md
              cat CHANGELOG_history.md >> README.md
              echo "" >> README.md
              echo "$changelog_end_marker" >> README.md
            else
              echo "Incomplete changelog history markers found in README.md"
              exit 1
            fi
          fi

      - name: reset CHANGELOG.md
        run: |
          printf '%s' '<!--publish=false-->' > CHANGELOG.md

      - name: commit and push changelog updates
        run: |
          git config --global user.name "pnk2u"
          git config --global user.email "159317511+pnk2u@users.noreply.github.com"
          git add CHANGELOG.md
          git add CHANGELOG_history.md
          git add README.md
          git commit -m "Write to changelog history and reset changelog file (${{ steps.properties.outputs.mod_version }})"
          git push