name: publish

on:
  workflow_call:
    secrets:
      MODRINTH_TOKEN:
        description: 'The token to use for Modrinth authentication'
        required: true
      CURSEFORGE_TOKEN:
        description: 'The token to use for Curseforge authentication'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v5

      - name: check for publish flag and prepare CHANGELOG.md
        run: |
          set -e
          if [[ ! -f CHANGELOG.md ]]; then
            echo "Missing CHANGELOG.md"
            exit 1
          fi
      
          first_line=$(head -n 1 CHANGELOG.md || true)
      
          if echo "$first_line" | grep -qE '<!--\s*publish\s*=\s*true\s*-->' ; then
            echo "Publish flag read: true. Starting publishing action."
      
            sed -i '1d' CHANGELOG.md
            
            printf '\n\n---\n' >> CHANGELOG.md

            printf "> Looking for changes of previous versions?  \n" >> CHANGELOG.md
            printf "You can find them in the [changelog history](https://www.github.com/${GITHUB_REPOSITORY}/blob/${GITHUB_REF_NAME}/CHANGELOG_history.md).\n" >> CHANGELOG.md
      
          elif echo "$first_line" | grep -qE '<!--\s*publish\s*=\s*false\s*-->' ; then
            echo "Publish flag read: false. Stopping publishing action."
            exit 1
      
          else
            echo "Missing publish flag in line 1. Skipping publishing action and exiting with error."
            echo "Please add \`<!--publish=true-->\` or \`<!--publish=false-->\` to the first line of CHANGELOG.md."
            exit 1
          fi
          
          printf 'Successfully prepared CHANGELOG.md for publishing:'
          printf '\n========================================\n'
          cat CHANGELOG.md
          printf '\n========================================\n'
        continue-on-error: false

      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'microsoft'
          java-version: 21

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build files
        run: ./gradlew build

      - name: read metadata from gradle.properties
        id: properties
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: './gradle.properties'
          properties: 'archives_base_name mod_name_short mod_version minecraft_version_supported minecraft_version_name'

      - name: format version name and title
        id: format_version_name
        run: |
          escaped_version_name=$(echo "${{ steps.properties.outputs.minecraft_version_name }}" | sed 's/(/\\(/g; s/)/\\)/g')
          echo "escaped_version_name=$escaped_version_name" >> "$GITHUB_OUTPUT"
          mod_version_number="${{ steps.properties.outputs.mod_version }} + ${{ steps.properties.outputs.minecraft_version_name }}"
          mod_version_title="${{ steps.properties.outputs.mod_name_short }} $mod_version_number"
          echo "mod_version_number=$mod_version_number" >> "$GITHUB_OUTPUT"
          echo "mod_version_title=$mod_version_title" >> "$GITHUB_OUTPUT"

      - uses: Kir-Antipov/mc-publish@v3.3
        id: publish
        with:
          modrinth-featured: true
          modrinth-unfeature-mode: intersection
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          name: '${{ steps.format_version_name.outputs.mod_version_title }}'
          version: '${{ steps.properties.outputs.mod_version }}'

          game-versions: '${{ steps.properties.outputs.minecraft_version_supported }}'
          game-version-filter: releases

          version-type: release
          files: "build/libs/${{ steps.properties.outputs.archives_base_name }}-${{ steps.properties.outputs.mod_version }}+${{ steps.format_version_name.outputs.escaped_version_name }}-(Fabric|Quilt|Forge|NeoForge).jar"

          changelog-file: CHANGELOG.md

      - name: update CHANGELOG_history.md and README.md
        run: |
          changelog_start_marker='<!--CHANGELOG:START-->'
          changelog_end_marker='<!--CHANGELOG:END-->'
          
          sed -i '$d' CHANGELOG.md
          sed -i '$d' CHANGELOG.md
          
          known_changelog=false
          
          if [[ -f CHANGELOG_history.md && -s CHANGELOG_history.md ]]; then
            changelog_headline=$(sed -n '1p' CHANGELOG.md)
            history_headline_1=$(sed -n '1p' CHANGELOG_history.md)
            history_headline_2=$(sed -n '2p' CHANGELOG_history.md)
            if [[ "$changelog_headline" == "$history_headline_1" || "$changelog_headline" == "$history_headline_2" ]]; then
              echo "Changelog already in history. Skipping updates to CHANGELOG_history.md."
              known_changelog=true
            fi
          fi
      
          if [[ ! -f CHANGELOG_history.md ]]; then
            touch CHANGELOG_history.md
          fi
          if [[ $(tail -c1 CHANGELOG.md | wc -l) -eq 0 ]]; then
            echo >> CHANGELOG.md
          fi
          
          mod_version="${{ steps.properties.outputs.mod_version }}"
          sed -i "1i<a name=\"$mod_version\"></a>" CHANGELOG.md
          
          mr_download_url="${{ steps.publish.outputs.modrinth-url }}"
          cf_download_url="${{ steps.publish.outputs.curseforge-url }}"
          formatted_download_footer="  \n<h2><sub><sub><sup><ins>Download ${{ steps.format_version_name.outputs.mod_version_number }}:</ins>&#x200A;  \n<a title=\"Download (Modrinth):&#10;${{ steps.format_version_name.outputs.mod_version_title }}\" href=\"$mr_download_url\"><img width=26 src=\"https://img.shields.io/badge/-%20-%23032a?style=flat&logo=modrinth\"></a>  \n<sup><img width=7 height=10 src=\"https://raw.githubusercontent.com/pnk2u/resources/main/ModProjects/shared/pres/icon/separator_v.svg\"></sup>  \n<a title=\"Download (Curseforge):&#10;${{ steps.format_version_name.outputs.mod_version_title }}\" href=\"$cf_download_url\"><img width=26 src=\"https://img.shields.io/badge/--%23302a?style=flat&logo=curseforge\"></a>  \n</sub></sub></h2>"
          spacer_line_number=$(( $(wc -l < CHANGELOG.md) - 1 ))
          sed -i "${spacer_line_number}i\\
          $formatted_download_footer" CHANGELOG.md
          
          printf 'Writing changelog to CHANGELOG_history.md:'
          printf '\n========================================\n'
          cat CHANGELOG.md
          printf '\n========================================\n'
          
          if [ "$known_changelog" = false ]; then
            cat CHANGELOG.md CHANGELOG_history.md > temp && mv temp CHANGELOG_history.md
          else
            echo "Skipping writing to CHANGELOG_history.md as this version is already recorded."
          fi
          
          second_line=$(sed -n '2p' CHANGELOG.md)
          if [[ "$second_line" == \#* ]]; then
              sed -i '2s/^#/##/' CHANGELOG.md
          else
              echo "Unexpected format in CHANGELOG.md: Line 2 does not start with #"
          fi
          if [[ "$second_line" == *: ]]; then
              sed -i '2s/:/[*](#footnote-*):/' CHANGELOG.md
          else
              echo "Unexpected format in CHANGELOG.md: Line 2 does not end with :"
          fi
          
          sed -i '$d' CHANGELOG.md
          sed -i '$d' CHANGELOG.md
          
          printf 'Writing changelog to README.md:'
          printf '\n========================================\n'
          cat CHANGELOG.md
          printf '\n========================================\n'
          
          if [[ ! -f README.md || ! -s README.md ]]; then
            echo "$changelog_start_marker" > README.md
            cat CHANGELOG.md >> README.md
            echo "" >> README.md
            echo "$changelog_end_marker" >> README.md
          else
            start_line=$(grep -n "$changelog_start_marker" README.md | cut -d: -f1)
            end_line=$(grep -n "$changelog_end_marker" README.md | cut -d: -f1)
            if [[ -n "$start_line" && -n "$end_line" ]]; then
              if [[ "$start_line" -ge "$end_line" ]]; then
                echo "The CHANGELOG:START/END markers are in incorrect order and/or in the same line in README.md"
                exit 1
              fi
              if [[ $((end_line - start_line)) -le 1 ]]; then
                  sed -i "$((start_line))r CHANGELOG.md" README.md
              else
                  sed -i "$((start_line+1)),$((end_line-1))d" README.md
                  sed -i "$((start_line))r CHANGELOG.md" README.md
              fi
              sed -i "$((start_line + $(wc -l < CHANGELOG.md)))a\\" README.md README.md
              echo "Successfully updated changelog section in README.md."
            elif [[ -z "$start_line" && -z "$end_line" ]]; then
              echo "No CHANGELOG:START/END markers found in README.md. Unable to update changelog section."
              exit 1
            else
              echo "Incomplete changelog markers found in README.md. Both START and END markers are required."
              exit 1
            fi
          fi

      - name: reset CHANGELOG.md
        run: |
          printf '%s' '<!--publish=false-->' > CHANGELOG.md

      - name: commit and push changelog updates
        run: |
          git config --global user.name "pnk2u"
          git config --global user.email "159317511+pnk2u@users.noreply.github.com"
          git add CHANGELOG.md
          git add CHANGELOG_history.md
          git add README.md
          git commit -m "Write to changelog history and reset changelog file (${{ steps.properties.outputs.mod_version }})"
          git push